:root {
    /* Fonts */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /* Colors */
    --accent-100: #4d5ae5;
    --accent-200: #404bbf;
  
    --main-100: #2e2f42;
    --main-200: #434455;
    --main-300: #8e8f99;
    --main-400: rgba(46, 47, 66, 0.4);
    --main-500: rgba(46, 47, 66, 0.7);
  
    --light-100: #fff;
    --light-200: #fcfcfc;
    --light-300: #f4f4fd;
    --light-400: #e7e9fc;
  
    --system-100: #31d0aa;
    /* Others */
    --radius-sm: 4px;
    --items: 3;
    --indent-x: 48px;
    --indent-y: 24px;
  }
  
  /* #region Base */
  body {
    font-family: var(--primary-font);
    color: var(--main-200);
    background: var(--light-100);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,


  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: currentColor;
  }

  ul,ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  button {
    padding: 0;
    font-family: inherit;
    color: currentColor;
    border: none;
    cursor: pointer;
  }
  address {
    font-style: normal;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  /* #endregion Base */
  /* #region Card set */
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent-x) var(--indent-y);
  }
  .cards-item {
    width: calc((100% - var(--indent-y) * (var(--items) - 1)) / var(--items));
  }
  /* #endregion */
  /* #region Common */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
  }
  .section {
    padding: 120px 0;
  }
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .features-title,
  .tasks-title,
  .team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--main-100);
  }
  
  /* Logo */
  .logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-100);
  }
  .logo-dark {
    color: var(--main-100);
  }
  .logo-light {
    color: var(--light-300);
  }
  /* Buttons */
  .btn {
    display: flex;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--light-100);
    background: var(--accent-100);
    border-radius: var(--radius-sm);
  }
  .btn:hover,
  .btn:focus {
    background: var(--accent-200);
  }
  /* Filters btn */
  .filters-btn {
    padding: 12px 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-100);
    background: var(--light-300);
    border-radius: var(--radius-sm);
  }
  .filters-btn:hover,
  .filters-btn:focus {
    color: var(--light-100);
    background: var(--accent-200);
  }
  /* #endregion Common */
  /* #region Header */
  .header {
    border-bottom: 1px solid var(--light-400);
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .header-nav {
    display: flex;
    align-items: center;
    gap: 76px;
  }
  .nav-menu {
    display: flex;
    gap: 40px;
  }
  .nav-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .nav-menu-link:hover,
  .nav-menu-link:focus {
    color: var(--accent-200);
  }
  .header-contacts {
    margin-left: auto;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  .contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-200);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--accent-200);
  }
  /* #endregion Header */
  /* #region Hero */
  .hero {
    padding: 188px 0;
    background: var(--main-100);
  }
  .hero-title {
    max-width: 496px;
    margin: 0 auto 48px auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
  .hero-btn {
    margin: 0 auto;
  }
  /* #endregion Hero */
  /* #region Features */
  .features {
    padding-bottom: 60px;
  }
  .features-list {
    --items: 4;
  }
  .features-caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-100);
  }
  .features-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* #endregion Features */
  /* #region Tasks */
  .tasks {
    padding-top: 60px;
  }
  /* #endregion Tasks */
  /* #region Team */
  .team {
    background: var(--light-300);
  }
  .team-list {
    --items: 4;
  }
  .team-item {
    background: var(--light-100);
    border-radius: 0 0 4px 4px;
  }
  .team-wrapper {
    padding: 32px 16px;
  }
  .team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--main-100);
  }
  .team-postion {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }
  /* #endregion Team */
  /* #region Footer */
  .footer {
    padding: 100px 0;
    background: var(--main-100);
  }
  .footer-left {
    max-width: 264px;
  }
  .footer-logo {
    display: block;
    margin-bottom: 16px;
  }
  .footer-slogan {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-300);
  }
  /* #endregion Footer */
  /* #region Portfolio */
  .portfolio {
    padding-top: 96px;
  }
  .portfolio-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .portfolio-wrapper {
    padding: 32px 16px;
    border: 1px solid var(--light-400);
    border-top: none;
  }
  .gallery-caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-100);
  }
  .gallery-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* #endregion Portfolio */